button {
  height: 80px;
  width: 80px;
  border: none;
  background-color: #3366CC;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}
button:hover {
  background-color: #0033FF;
}
.equals {
  grid-column: 3 / 5;
  background-color: rgb(243, 61, 29);
}
.equals:hover {
  background-color: gray;
}
.highlight {
  background-color: #0033FF; /* Màu cam hoặc màu bạn muốn */
}
.highlight:hover {
  background-color: #0033FF; /* Màu cam hoặc màu bạn muốn */
}